{% extends "layout.html" %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-12">
    <div class="float-right" style="padding: 0.5rem;margin-right: 0;margin-left: 0;border-width: .2rem;">
      <a href="{% url 'pdftemp:htmltopdf' %}" class="btn btn-primary">HTML to PDF</a>
    </div>
    <hr class="mt-0 mb-4">
    <iframe height="1000" width="800" src="{% url 'pdftemp:template' %}"></iframe>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-12">
    <div class="float-right" style="padding: 0.5rem;margin-right: 0;margin-left: 0;border-width: .2rem;">
      <a href="{% url 'pdftemp:pdftopdf' %}" class="btn btn-primary">PDF to PDF</a>
    </div>
    <hr class="mt-0 mb-4">
    <embed src="{% url 'pdftemp:pdffile' %}#toolbar=0&navpanes=0&scrollbar=" style="width:850px; height:1080px;" frameborder="0">
  </div>
</div>


{% endblock %}
